.nav-pills li {
    width: 20%;
}
.navbar-inner {
    width: 100%;
}
.steps {
    padding: 0;
    padding-top: 15px;
}
.progress-container{
    margin-bottom: 50px;
}
.available .desc , .unavailable .desc{
    padding-top: 20px;
    padding-bottom: 20px;
}
.available img, .unavailable img{
    width: 100%;
}
.available .info .more-info, .unavailable .info .more-info{
    margin-bottom: 0;
    padding-bottom: 0;
}
.available .info, .unavailable .info{
    font-size: 12px
}
.available .info h4, .unavailable .info h4{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.reserva .row {
    margin-bottom: 20px;
}
.hide {
    display: none;
}

/** CALENDAR **/
.ui-datepicker-calendar tbody td:after {
    content: attr(title);
    z-index: 20;
    background: #727272;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    min-width: 70px;
    top: -44px;
    font-weight: 700;
}
.ui-datepicker-calendar tbody td:hover:after,  .ui-datepicker-calendar tbody td:hover:before{
     display: block;
}
.ui-datepicker-calendar tbody td:after, .ui-datepicker-calendar tbody td:before {
    position: absolute;
    display: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ui-datepicker-calendar tbody td {
    position: relative;
}