.nav-pills li {
    width: 20%;
}
.navbar-inner {
    width: 100%;
}
.steps {
    padding: 0;
    padding-top: 15px;
}
.progress-container{
    margin-bottom: 50px;
    margin-top: 50px;
}
.available .desc , .unavailable .desc{
    padding-top: 20px;
    padding-bottom: 20px;
}
.available img, .unavailable img{
    width: 100%;
}
.available .info .more-info, .unavailable .info .more-info{
    margin-bottom: 0;
    padding-bottom: 0;
}
.available .info, .unavailable .info{
    font-size: 12px
}
.available .info h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.available .info h3 {
    font-size: 14px;
}
.reserva .row {
    margin-bottom: 20px;
}
.hide {
    display: none;
}
.no-margin {
    margin: 0!important;
}

/** CALENDAR **/
.ui-datepicker-calendar tbody td:after {
    content: attr(title);
    z-index: 20;
    background: #727272;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    min-width: 70px;
    top: -44px;
    font-weight: 700;
}
.ui-datepicker-calendar tbody td:hover:after,  .ui-datepicker-calendar tbody td:hover:before{
     display: block;
}
.ui-datepicker-calendar tbody td:after, .ui-datepicker-calendar tbody td:before {
    position: absolute;
    display: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ui-datepicker-calendar tbody td {
    position: relative;
}
.ui-datepicker-calendar .ui-state-default:after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.ui-state-disabled {
    cursor: not-allowed !important;
    pointer-events: inherit;
}
.svg {
    width: 75px !important;
    display: inline-block;
}
.info .block {
    float: left;
}

.content-accessoris .item-accessori {
    margin-bottom: 25px;
    padding-left: 0;
}
.page-title {
    margin-bottom: 25px;
}
.content-accessoris .item-accessori img{
    float: left;
    width: 200px;
    z-index: 1;
    position: relative;
    background-clip: padding-box;
}
.content-accessoris .item-accessori .info{
    float: left;
    height: 100%;
}
.content-accessoris .item-accessori label {
    z-index: 1;
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
}
.content-accessoris .item-accessori input {
    background: #eee;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #A6A6A6;
}
.content-accessoris .item-accessori input[type="checkbox"] {
    float: right;
}
.content-accessoris .item-accessori p {
    color: #4A4A4A;
}
.content-accessoris .item-accessori h4{
    color: #4A4A4A;
    font-size: 14px;
    margin: 0;
}


/** Progress-bar **/
.progressbar {
    counter-reset: step;
    height: 50px;
    padding-left: 0;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 32px;
    height: 32px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}
/** FI progress-bar **/
.add-driver {
    display: block;
    height: 42px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}